# Flutter
*.iml
.gradle/
.idea/
.settings/
.symlinks/
.project/
.classpath
.dart_tool/
.packages
.pub/
build/
flutter_*

# iOS
*.ipa
*.app
DerivedData/
**/Pods/

# macOS
.DS_Store

# Android
local.properties
key.properties

# Other
*.log
*.tmp
